{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        
    <title>Supermercado</title>

</head>
<body>

    <div class="container">
        <div class="header">
                <ul class="nav nav-pills pull-right">
                        <li><a href="/">        HOME</a></li> 
                        <li><a href="{% url 'index' %}">        Produtos</a></li>
                        <li><a href="{% url 'listaCompras' %}"> Compras</a></li>                         
                        <li><a href="{% url 'index' %}">Logout</a></li> 
                        <li><a href="{% url 'index' %}"></a></li> 
                    
                </ul>
                <h3 class="text-muted">Supermercado</h3>
            </div>
        
        <div class="row content">
            {% block body %}
            {% endblock %}
        </div>
    
    </div>
    
</body>
</html>