{% extends "base.html" %}
{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
           <strong>Novo produto</strong>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">

                <button type="button" class="close">&times;</button>
                {{ form.non_field_errors }}
                
            </div>
        {% endif %}

        <form action="{% url 'cadastroProduto' %}" method="POST">
            {% csrf_token %}    
            <div class="row ">
                    <label class="col-md-3">Nome</label>
                    <input id='nome' name="nome" type="text" class="col-md-8">
                </div>
                
                <div class="row">
                        <label class="col-md-3">Descrição</label>
                        <input id="descricao" name="descricao" type="text" class="col-md-8">
                </div>
                                    
                <div class="row">
                        <label id="valor" class="col-md-3">valor</label>
                        <input id="valor" name="valor" type="decimal" class="col-md-8">
                </div>

                <div class="row">

                        <input type='hidden' id="quantidade" name="quantidade" type="number" value=0 class="col-md-8">
                </div>
                
                                        
            <button class="btn btn-primary"  type="submit">CADASTRAR</button>
        </form>
 

    </div>
    
    {% endblock %}