{% extends "base.html" %}
{% block body %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Produtos</strong><span class="pull-right"><a href="{% url 'cadastroProduto' %}">CADASTRAR</a></span>
        </div>
        
        {% if produtos %}
        <table class="table">
            <thead>
                <th>Produto</th>
                <th>Quantidade</th>
            </thead>
                {% for p in produtos %}
                <tr>
                    <td><a class="btn" href="{% url 'exibirProduto' p.id %}"> {{p.nome|upper}} </a> </td>
                    <td>{{p.quantidade}}</td>
                </tr>
                
                {% endfor %}
        

        </table>

        
        {% else %}
            <p>Nenhum produto</p>
        {% endif %}
    </div>
</div>

{% endblock %}