{% extends "base.html" %}
{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
           <h3>{{produto.nome}}  </h3>
        </div>
   
        <p>{{produto.nome}}</p>
        <p>{{produto.descricao}}</p>
    
    
    </div>
    
    {% endblock %}