{% extends "base.html" %}
{% block body %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                <h1>Usuarios</h1>
        </div>
                    
                {% if usuarios %}
                <ul>
                    {% for usuario in usuarios %}
                    
                    <li>
                        <a href="{% url 'usuario' usuario.id %}"> {{usuario.nome|upper}}</a> 
                    </li>

                    {% endfor %}

                </ul>
                {% else %}
                    <p>Nenhum usuario</p>
                {% endif %}   

    </div>
</div>

{% endblock %}


