{% extends "base.html" %}
{% block body %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Perfil:  {{ usuario.nome | upper}}</strong>
        </div>
        <ul><li>{{usuario.nome}}</li></ul>
       
    

</div>

{% endblock %}