{% extends "base.html" %}
{% block body %}



<div class="col-lg-12">
        <div class="panel-default panel">
            <div class="panel-heading">
                <strong>Compra id:{{compra.id}} | Feita no dia {{compra.date}}</strong>
         
            </div>
    

            <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">item</th>
                        <th scope="col">descricaço</th>
                        <th scope="col">valor</th>
                        <th scope="col">quantidade comprada</th>
                    </tr>
                    </thead>
                    {% for i, produto in produtos %}
                  
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ produto.nome }}</td>
                            <td>{{ produto.descricao }}</td>
                            <td>{{ produto.valor }}</td>
                            <td>{{ produto.quantidade}}</td>
                        </tr>        
                        
                    {% endfor %}
                       <tr>
                           <th></th>
                            <th colspan="2">Total</th>
                            <th>{{compra.total}}</th>
                            <th>{{compra.unidadesEmUmaCompra}}</th>
                            <th></th>
                       </tr>     
            </table>
        </div>
    </div>

{% endblock %}