{% extends "base.html" %}
{% block body %}

<div class="col-lg-12">
        <button><a class="btn primary block" href="{% url 'novaCompra' %}">NOVA COMPRA</a></button>
    <div class="panel-default panel">
        
        <div class="panel-heading">
            <strong>Compras</strong>
            
        </div>

        {% if compras %}
            <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">produtos</th>
                        <th>Unidades</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
            
                {% for compra in compras %}
                <tr>
                    <td>{{compra.id|upper}}</td> 
                    <td><a class="btn" href="{% url 'detalheCompra' compra.id %}"> {{compra.date|upper}}</a></td>                   
                    <td>{{compra.produtos.count}} </td>
                    <td>{{compra.unidadesEmUmaCompra}}</td>
                    <td>{{compra.total}}</td>
                </tr>
                {% endfor %}
            </table>  
        {% else %}
            <p>Nenhuma compra</p>
        {% endif %}

    </div>
</div>
{% endblock %}