{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
    <div class="panel-default panel">
        <div class="panel-heading">
           <strong>Nova compra</strong>
        </div>
   
        <form action="{% url 'novaCompra' %}" method="POST">
            {% csrf_token %}    
            
                {% if produtos%}
                <table class="table">
                    <thead>
                        <th>produto</th><th>descrição</th> <th>valor</th><th>quantidade</th>
                    </thead>
                    {% for produto in produtos %}
                    <tr>                        
                        <td>{{produto.nome}}</td>
                        <td>{{produto.descricao}}</td>
                        <td>{{produto.valor}}</td>
                        <td><input class="quatidade" type="number" name="{{produto.nome}}" id="{{produto.id}}" value="0"></td>
                        
                    
                    
                    </tr>                                           
                    {% endfor %}                
                </table>

                {% endif %}
        

                {% if form.erros %}
                    <div class="alert alert-danger">

                        <button type="button" class="close">&times;</button>
                        {{ form.non_field_error }}
                    </div>
                {% endif %}
            <button class="btn btn-primary col-lg-12"  type="submit">FINALIZAR</button>
        </form>
 

    </div>
</div>

        <script>
            function checkTotal(nome) {
   
                console.log(nome[1].value)
            }
        </script>
    {% endblock %}